#restaurant-name {
    color: white;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#map {
    height: 500px;
  }

.directions {
    background-color: white;
}