body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
    background-attachment: fixed;
}

nav {
    padding: 20px 0px 16px 20px;
    background-image: url("navbar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-image: url("navbar-border.jpg") 50 stretch;
    border-image-repeat: stretch;
    border-bottom: 15px solid transparent;
}


.restaurantsButton {
    color: aliceblue;
    margin-top: 8px;

    font-size: 18px;
    text-align: center;
    text-shadow: -3px 3px 0px rgb(0, 0, 0);
}

.mapsButton {
    margin-left: -305px;
    font-size: 17px;
}

.mapsButtonRestPage {
    margin-left: -300px;
    font-size: 17px;
}


.restaurantsButton:link {
    text-decoration: none;
  }

.restaurantsButton:hover {
    text-decoration: none;
    color: #1ea365;;
  }

.optionButtons {
    margin: 4px;
    border-radius: 7px;
    background-image: url("buttonTexture.jpg");

}

.button2 {
    display: none;
}

.optionButtons:hover {
    background-color: rgb(208, 208, 255);
    filter: brightness(.50);
}


.titleText {
    font-size:48px; 
    font-style:bold;
    text-align: center;
    margin-top: 5px; 
    margin-left: 360px;
    color: aliceblue;
    text-shadow: 0px 4px 0px rgb(0, 0, 0);
}

.formQ {
    font-size: 20px;
    text-align: center; 
    margin-right: 12px;
    width: 250px;
    color: aliceblue;
    text-shadow: 4px 4px 0px rgb(0, 0, 0);
}


.go-btn {
    background-color:#1ea365;
    color: rgb(255, 255, 255);
    padding-right: 4%;
    font-size: 20px;
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
}

.go-btn:hover {
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
}

.start {
    font-size: 20px;
    padding: 40px 35px 40px 30px;
    margin: 30px;
    margin-top: 10%;
    background-image: url("searchBox.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
}

.map {
    font-size: 20px;
    padding: 0px 35px 48px 35px;
    margin: 30px;
    background-image: url("searchBox.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: aliceblue;
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
}

select {
    height: 36px;
    width: auto;
}

.starterTag {
    margin: 10px 0 20px 0;
    display: none;
}

.buttonsDiv {
    margin-bottom:20px
}

.card {
    background-image: url("restaurantCard.jpg");
}