body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
    background-attachment: fixed;
}

nav {
    background-image: url("navbar.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    border-image: url("navbar-border.jpg") 50 stretch;
    border-image-repeat: stretch;
    border-bottom: 10px solid transparent;
}

.restraurant-button {
    shadow: 0px 4px 0px rgb(0, 0, 0);

}

.titleText {
    font-size:48px; 
    font-style:bold;
    text-align: center;
    margin-top: 5px; 
    margin-left: 400px;
    color: aliceblue;
    text-shadow: 0px 4px 0px rgb(0, 0, 0);
}

.formQ {
    font-size: 20px;
    text-align: center; margin-right: 12px;
    color: aliceblue;
    text-shadow: 2px 2px 1px rgb(0, 0, 0);
}

.go-btn {
    background-color:#1ea365;
    color: rgb(255, 255, 255);
    padding-right: 4%;
    font-size: 20px;
    text-shadow: 3px 1px 1px rgb(0, 0, 0);
}

.go-btn:hover {
    text-shadow: 2px 1px 0px rgb(0, 0, 0);
}



.start {
    border: 4px black double;
    padding: 10px;
    margin: 30px;
    margin-top: 10%;
    border-image: url("navbar-border.jpg") 50 stretch;;
    background-image: url("navbar.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
}


.starterTag {
    margin: 10px 0 20px 0;
}

button {
    margin: 4px;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(208, 208, 255);
}

.buttonsDiv {
    margin-bottom:20px
}