body {
    background-image: url("background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lobster', cursive;
}

.start {
    border: 1px black double;
    padding: 10px;
    margin: 30px;
    margin-top: 10%;
    border-radius: 10px;
    background-color: rgba(247, 80, 80, 0.849);
    color: rgb(224, 224, 224);
    font-family: 'Montserrat', sans-serif;
}

.starterTag {
    margin: 10px 0 20px 0;
}

button {
    margin: 4px;
    border-radius: 7px;
}

button:hover {
    background-color: rgb(208, 208, 255);
}

.buttonsDiv {
    margin-bottom:20px
}